/* TYPOGRAPHY */
@import 'common/typography.less';
@import 'common/variables.less';
@import 'common/modifiers.less';


/* MODULES */
@import 'modules/module1.less';
@import 'modules/video.less';
@import 'modules/header.less';
@import 'modules/site-content.less';
@import 'modules/site-branding.less';
@import 'modules/site-navigation.less';
@import 'modules/footer.less';
@import 'modules/blurbs.less';
@import 'modules/quotation.less';
@import 'modules/instagram.less';
@import 'modules/project-description.less';



/* LIBS */
@import '../bootstrap-3.3.5/less/bootstrap.less';

html, body, #page
{
    height: 100%;
}

a, a:hover{
	color: #111;
	text-decoration: none;
}